body {
    background-color: #001B42;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 30px 10px;
}

.navLink {
    color: white;
    font-size: medium;
    text-decoration: None;
    font-weight: bold;
    margin: 0px 15px 0px 15px;
    text-align: center;
}

.navLink:hover {
    color: blueviolet;
    transition: 0.5s;
}

.content {
    padding: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: xxx-large;
    font-weight: bolder;
}

.content .contentSpan {
    color: rgb(172, 113, 226);
}

/* .loginForm {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
} */

/* .loginForm {
    display: block;
    text-align: center;
} */
/* form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} */

.loginFormDiv {
    display: block;
    text-align: center;
    margin-top: 150px;
}

.loginForm {
    display: inline-block;
    text-align: left;
    background-color: white;
    color: #001B42;
    padding: 30px;
}

.loginForm div {
    color: #001B42;
    font-size:larger;
    font-weight: bold;
    margin-bottom: 40px;
}

.loginForm label {
    color: #999;
}

.loginForm input {
    border: none;
    border-bottom: 1px solid #515151;
    appearance: none;
    background: #f2f2f2;
    font-size: 16px;
    padding: 12px;
    margin-top: 5px;
    border-radius: 3px;
    width: 250px;
    outline: none;
}

.loginForm .invalidCredentials {
    color: rgb(220, 45, 45);
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}

.loginForm .forgotPassword {
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;

}

.loginForm .forgotPassword a {
    color: blueviolet;
}

.loginForm .submit {
    background-color: rgb(222, 188, 253);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.loginForm .submit:hover {
    background-color: blueviolet;
    transition: 0.5s;
}