body {
    background-color: #001B42;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div {
    color: white;
}

.link {
    color: white;
    font-size:large;
    text-decoration: None;
    font-weight:bold;
    width: 150px;
}

.link:hover {
    color: blueviolet;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px
    
}

.leftNav {
    display: flex;
}

.rightNav {
    display: flex;
}

.rightNav .link {
    width: 80px
}

.content {
    padding: 30px;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: xxx-large;
    font-weight: bolder;
}

.content .contentSpan {
    color: rgb(172, 113, 226);
}

/* .loginForm {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
} */

/* .loginForm {
    display: block;
    text-align: center;
} */
/* form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} */

.loginFormDiv {
    display: block;
    text-align: center;
}

.loginForm {
    display: inline-block;
    text-align: left;
}